.pokemon-img {
	margin: 0 auto;
	width: 70%;
	height: 85%;
	object-fit: cover;
	overflow: visible;
}

.addFavorite {
	text-align: end;
}

.addFavorite img:hover {
	cursor: pointer;
	animation: heartBeat 0.5s infinite;
}

@keyframes heartBeat {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.3);
	}
	100% {
		transform: scale(1);
	}
}
